Repository AdrianoImpacta/devops-aula07, pull requests merged in 2018-09, with the labels that each got.

#4 Integrar arquitetura v1.0
  docs/arquitetura.md
Labels: arquitetura

#6 Integrar Implementação v1.0
  src/jogovelha.py
Labels: programação

#8 Integrar testes v1.0
  src/testes_inic.py
Labels: testes

#9 Gerar release v1.0
  docs/arquitetura.md
  docs/requisitos.md
  src/jogovelha.py
  src/testes_inic.py
Labels: operações
